<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Finalizada</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="sucesso-compra">
        <h1>Compra Finalizada com Sucesso!</h1>
        <p>Obrigado por comprar conosco. Esperamos vê-lo novamente em breve!</p>
        <a href="/" class="btn">Voltar para a Página Inicial</a>
    </div>
</body>
</html>
