{% extends "base.html" %}
{% block content %}
<section class="hero">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Banner">
    <div class="hero-title">
        <h1>ACIMM</h1>
    </div>
</section>
<div class="produtos">
    {% for produto in produtos %}
        <div class="produto">
            <h3>{{ produto['nome'] }}</h3>
            <p>{{ produto['descricao'] }}</p>
            <span>R$ {{ produto['preco'] }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}
