{% extends "base.html" %}
{% block content %}
<section class="sobre-nos">
    <h1>Sobre Nós</h1>
    <p>Bem-vindo à ACIMM! Aqui, acreditamos que sofisticação e simplicidade podem andar juntas. Nossa loja de anéis nasceu com um propósito claro: oferecer peças que não só sejam bonitas e de alta qualidade, mas que também carreguem algo mais profundo.</p>
    <p>Cada anel que criamos é pensado para refletir o que realmente importa: o estilo que vem de dentro e a essência de quem você é. O nosso lema, Stay Humble, não é só uma frase – é uma filosofia que guia tudo o que fazemos.</p>
    <p>Acreditamos que a verdadeira beleza está na autenticidade e na simplicidade. Cada peça foi feita com carinho para ser um símbolo discreto, mas cheio de significado, que te acompanha com elegância, sem a necessidade de ostentação.</p>
    <p>Explore nossa coleção e encontre o anel que reflete a sua essência. Stay Humble, e seja sempre você.</p>
</section>
{% endblock %}
